<h1>Editing user recipe</h1>

<%= render "form", user_recipe: @user_recipe %>

<br>

<div>
  <%= link_to "Show this user recipe", @user_recipe %> |
  <%= link_to "Back to user recipes", user_recipes_path %>
</div>
