<p style="color: green"><%= notice %></p>

<h1>User recipes</h1>

<div id="user_recipes">
  <% @user_recipes.each do |user_recipe| %>
    <%= render user_recipe %>
    <p>
      <%= link_to "Show this user recipe", user_recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New user recipe", new_user_recipe_path %>
